Thumbs.db
Desktop.ini
._*
Icon?
*.bak
*.htaccess
*.ico
index.php
unit_test.php
web.config
assets/index.html
assets/js/*
!assets/js/jquery.cooki.js
!assets/js/jquery.min.js
!assets/js/jquery.stickyscroll.js
!assets/js/jquery.ui.min.js
!assets/js/jquery.ui.nestedSortable.js
assets/css/*
assets/images/*
assets/cache/*
bonfire/doc_gen.sh
bonfire/codeigniter/*
bonfire/modules/index.html
bonfire/sparks/*
bonfire/themes/*
bonfire/application/index.html
bonfire/application/archives
bonfire/application/c*/*
!bonfire/application/config/parser.php
bonfire/application/db/*
bonfire/application/errors/*
bonfire/application/helpers/*
!bonfire/application/helpers/MY_array_helper.php
bonfire/application/hooks/*
bonfire/application/language/*
bonfire/application/libraries/index.html
bonfire/application/libraries/*.php
!bonfire/application/libraries/Lex/*
!bonfire/application/libraries/MY_Parser.php
!bonfire/application/libraries/plugins.php
bonfire/application/logs/*
bonfire/application/models/*
bonfire/application/third_party/*
bonfire/application/views/*
docs/*
install2/*
tests/*
tools/*

